body {
    margin: 0;
    padding: 0;
    font-family: 'LondrinaSolid-Regular';
    background-color: #8EF5B1;
}

.conteudo {
    font-size: 25px;
    color: white;
    margin: 20px;
    text-align: justify;
    font-family: 'Inter';
}

.navegacao {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.botaonav {
    width: 150px;
    height: 50px;
    background-color: #3CC26A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'LondrinaSolid-Regular';
    border: none;
    cursor: pointer;
    transition: transform .5s ease;
    font-size: 30px;
    color: white;
}

.botaonav2 {
    width: 150px;
    height: 50px;
    background-color: #F4BAD2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'LondrinaSolid-Regular';
    border: none;
    cursor: pointer;
    transition: transform .5s ease;
    font-size: 30px;
    color: white;
}

.botaonav:hover {
    background-color: #248144;
    transform: scale(1.07);
}

.botaonav2:hover {
    background-color: #DC1467;
    transform: scale(1.07);
}

.semlink {
    text-decoration: none;
    color: white;
}

.conteudo-pagina {
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.subtitulo {
    display: flex;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    text-align: left;
    align-items: flex-start;
}

.titulopagina {
    display: block;
    color: white;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.container0 {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Add padding to give space around the content */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px; /* Add padding to give space around the content */
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container5 {
    margin-right: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    color: white;
    font-size: 80px;
    margin-bottom: 40px;
    text-align: center; /* Alinha o texto no centro */
}

.titulo2 {
    color: white;
    font-size: 128px;
    margin-bottom: 40px;
    text-align: center; /* Alinha o texto no centro */
}

.texto {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center; /* Alinha o texto no centro */
    padding: 30px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.botao {
    width: 340px;
    height: 142px;
    background-color: #3CC26A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    font-family: 'LondrinaSolid-Regular';
    border-width: 0;
    cursor: pointer;
    transition: transform .5s ease;
}

.botao a { /* Aplica a remoção do sublinhado aos links dentro dos botões */
    text-decoration: none;
    color: white; /* Para garantir que a cor do texto seja branca */
}

.flashcards a {
    text-decoration: none;
    color: white;
}

.flashcards {
    width: 850px;
    height: 214px;
    background-color: #3CC26A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: 'LondrinaSolid-Regular';
    border-width: 0;
    cursor: pointer;
    transition: transform .5s ease;
}

.flashcards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.flashcards:hover {
    background-color: #248144;
    transform: scale(1.07);
}

.botao:hover {
    background-color: #248144;
    transform: scale(1.1);
}

@font-face { 
    font-family: LondrinaSolid-Regular; 
    src: url('./fonts/LondrinaSolid-Regular.ttf'); 
}

.imagem {
    width: 479px;
    height: 479px;
}

.imagem2 {
    width: 200px;
    height: 200px;
}

.imagem2,
.imagem4,
.imagem3 {
    transition: transform .5s ease;
}

.imagem2:hover,
.imagem4:hover,
.imagem3:hover {
    transform: scale(1.1);
}

.imagem3 {
    width: 300px;
    height: 300px;
}

.imagem4 {
    margin: 20px;
}

.direita {
    flex: 10%;
    display: flex; /* Make it a flex container */
    flex-direction: column;
}

.flashcard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Ensure the card takes the full width */
    height: 100%; /* Ensure the card takes the full height */
}

.alternativabotao1 {
    display: flex;
    border-radius: 5px;
    width: 436px;
    height: 78px;
    border-width: 0;
    background-color: #F4BAD2;
    font-family: 'LondrinaSolid-Regular';
    margin: 10px;
    font-size: 44px;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .5s ease;
}

.alternativa {
    display: flex; /* Make the container a flex container */
    flex-direction: column; /* Arrange the items vertically */
    align-items: center; /* Center the items horizontally */
}

.alternativatexto {
    font-size: 44px;
    color: white;
}

.alternativabotao1:hover {
    background-color: #DC1467;
    transform: scale(1.1);
}

/* Add styles for the selected button */
.alternativabotao1.selected {
    background-color: #DC1467;
    color: white;
}

.card-front, 
.card-back {
    display: flex;
    flex-direction: column;
    width: 515px;
    height: 649px;
    background-color: #F4BAD2;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card {
    width: 515px;
    height: 649px;
    position: relative;
    perspective: 1000px; /* Define a perspectiva para a animação 3D */
    transition: transform .5s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s; /* Adiciona uma transição suave para a transformação */
    transform-style: preserve-3d; /* Permite que os filhos mantenham suas posições 3D */
}

.card.flipped .card-inner {
    transform: rotateY(-180deg); /* Vira a carta 180 graus quando ela está virada */
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta o verso da carta quando ela é virada */
}

.card-front {
    position: absolute;
    z-index: 2; /* Garante que a frente da carta esteja na parte superior */
}

.card-back {
    position: absolute;
    z-index: 1;
    transform: rotateY(180deg); /* Inicialmente, a parte de trás da carta está virada */
}


.conferir-container {
    /* Align the container to the right */
    align-self: flex-end;
    margin-top: auto; /* Push the "Conferir" button to the bottom */
    margin-right: 27%;
    margin-top: 5%;
}
.pontuacao {
    /* Align the container to the right */
    align-self: flex-start;
    margin-left: 27%;
}
.conferir {
    width: 243.6px;
    height: 95px;
    background-color: #F4BAD2;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    border-width: 0;
    font-family: 'LondrinaSolid-Regular';
    cursor: pointer;
    transition: transform .5s ease;
}

.conferir:hover {
    background-color: #DC1467;
    transform: scale(1.05);
}

.conferir a { /* Aplica a remoção do sublinhado aos links dentro dos botões */
    text-decoration: none;
    color: white; /* Para garantir que a cor do texto seja branca */
}

.alternativabotao1.correct {
    background-color: #00b92b;
}

.alternativabotao1.incorrect {
    background-color: #ce0919;
}

@media screen and (max-width: 550px) {
    .titulo {
      font-size: 43.6px;
      margin: 5px;
      margin-bottom: 30px;
      margin-top: 200px;
    }

    .titulo2 {
       font-size: 44.13px;
       margin-top: 200px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
  
    .botao {
      width: 196.74px;
      height: 77.39px;
      font-size: 43.6px;
      margin: 5px;
    }
  
    .flashcards {
      width: 311.33px;
      height: 78px;
      font-size: 24px;
    }

    .texto {
        color: white;
        font-size: 25px;
    }

    .imagem {
        width: 241px;
        height: 241px;
    }

    .container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .direita {
        flex: 10%;
        display: flex; /* Make it a flex container */
        flex-direction: column;
    }
    
    .flashcard-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0%; /* Ensure the card takes the full width */
        height: 100%; /* Ensure the card takes the full height */
        margin-bottom: -15%;
        margin-top: 50px;
    }
    
    .alternativabotao1 {
        display: flex;
        border-radius: 5px;
        width: 234.14px;
        height: 42.39px;
        border-width: 0;
        background-color: #F4BAD2;
        font-family: 'LondrinaSolid-Regular';
        margin: 10px;
        font-size: 23.88px;
        color: white;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .alternativa {
        display: flex; /* Make the container a flex container */
        flex-direction: column; /* Arrange the items vertically */
        align-items: center; /* Center the items horizontally */
    }
    
    .alternativatexto {
        font-size: 25.77px;
        color: white;
    }
    
    .alternativabotao1:hover {
        background-color: #DC1467;
    }
    
    /* Add styles for the selected button */
    .alternativabotao1.selected {
        background-color: #DC1467;
        color: white;
    }
    
    .card-front, 
    .card-back {
        display: flex;
        flex-direction: column;
        width: 276.53px;
        height: 348.48px;
        background-color: #F4BAD2;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    
    .card {
        width: 276.53px;
        height: 348.48px;
        position: relative;
        margin-top: 20px;
        perspective: 1000px; /* Define a perspectiva para a animação 3D */
    }
    
    .card-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: transform 0.5s; /* Adiciona uma transição suave para a transformação */
        transform-style: preserve-3d; /* Permite que os filhos mantenham suas posições 3D */
    }
    
    .card.flipped .card-inner {
        transform: rotateY(-180deg); /* Vira a carta 180 graus quando ela está virada */
    }
    
    .card-front,
    .card-back {
        width: 100%;
        height: 100%;
        backface-visibility: hidden; /* Oculta o verso da carta quando ela é virada */
    }
    
    .card-front {
        position: absolute;
        z-index: 2; /* Garante que a frente da carta esteja na parte superior */
    }
    
    .card-back {
        position: absolute;
        z-index: 1;
        transform: rotateY(180deg); /* Inicialmente, a parte de trás da carta está virada */
    }
    
    
    .conferir-container {
        /* Align the container to the right */
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .pontuacao {
        /* Align the container to the right */
        align-self: center;
    }
    .conferir {
        width: 130.8px;
        height: 51.45px;
        background-color: #F4BAD2;
        align-content: center;
        justify-content: center;
        border-radius: 10px;
        border-width: 0;
        font-family: 'LondrinaSolid-Regular';
        cursor: pointer;
        align-self: center;
    }
    .conteudo-pagina {
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .conteudo {
        font-size: 20px;
        color: white;
        text-align: center;
        font-family: 'Inter';
    }
    .subtitulo {
        display: flex;
        font-size: 30px;
        color: white;
        text-align: center;
        align-items: center;
    }
    .imagem4 {
        margin: 20px;
        height: 50%;
        width: 100%;
    }
    .container5 {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .botaonav {
        width: 90px;
        height: 50px;
        background-color: #3CC26A;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'LondrinaSolid-Regular';
        border: none;
        cursor: pointer;
        transition: transform .5s ease;
        font-size: 20px;
        color: white;
        padding: 5px;
    }
    .botaonav2 {
        width: 90px;
        height: 50px;
        background-color: #F4BAD2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'LondrinaSolid-Regular';
        border: none;
        cursor: pointer;
        transition: transform .5s ease;
        font-size: 20px;
        color: white;
        padding: 5px;
    }

  }
