body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'CarterOne-regular';
    background-image: linear-gradient(#40FDDD, #64CBFF);
}

@font-face { 
    font-family: CarterOne-regular; 
    src: url('./../fonts/CarterOne-Regular.ttf'); 
}

@font-face { 
    font-family: BeVietnamPro; 
    src: url('./../fonts/BeVietnamPro-Black.ttf'); 
}

@font-face { 
    font-family: Inter; 
    src: url('./../fonts/Inter.ttf'); 
}

.conteudo {
    font-size: 18px;
    color: #004F88;
    margin: 20px;
    text-align: justify;
    font-family: 'Inter';
}

.botaotudo{
    width: 100%;
}

.conteudo-pagina {
    align-items: center;
    width: 80%;
    background-color: #CCFFF7;
    padding: 30px;
    border-radius: 20px;
}

.subtitulo {
    display: flex;
    font-size: 30px;
    color: #004F88;
    margin-bottom: 10px;
    text-align: left;
    align-items: flex-start;
}

.subsubtitulo {
    display: flex;
    font-size: 23px;
    color: #004F88;
    margin-bottom: 10px;
    text-align: left;
    align-items: flex-start;
}

.titulopagina {
    display: block;
    color: white;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 95.7vh;
    align-items: center;
    justify-content: start;
    padding: 20px;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topico {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtopico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.container5 {
    margin-right: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    color: #005592;
    font-size: 43px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0,0,0, 0.25);
    margin: 0px;
    text-align: center;
}

.titulo-grande {
    font-size: 96px;
    font-family: 'BeVietnamPro';
    margin-bottom: 30px;
    margin-top: 0px;
    color: #005592;
    text-shadow: 2px 2px 4px rgb(0,0,0, 0.25);
    text-align: center;
}

.texto {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center; 
    padding: 30px;
    text-shadow: 2px 2px 4px rgb(0,0,0, 0.25);
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
    padding: 30px;
    height: 100%;
}

.imagem-botao {
    height: 70%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.imagem-botao img{
    object-fit: contain;
    align-self: center;
    width: 70%;
    height: 100%;
}

.botao {
    background-color: transparent;
    border: 1px solid #005592;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: 'CarterOne-regular';
    font-size: 24px;
    transition: transform 2s ease;
    padding: 8px;
    color: #005592;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
}

.botao:hover {
    background-color: #005592;
    color: white;
}

.imagem {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.imagem2 {
    width: 200px;
    height: 200px;
}

.imagem2,
.imagem4,
.imagem3 {
    transition: transform .5s ease;
}

.imagem2:hover,
.imagem4:hover,
.imagem3:hover {
    transform: scale(1.05);
}

.imagem3 {
    width: 300px;
    height: 300px;
}

.imagem4 {
    margin: 20px;
}

.direita {
    flex: 10%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 70%;
}

.pontos {
    font-size: 36px;
    font-family: 'CarterOne-Regular';
    color: white;
}

.enunciado {
    font-family: 'BeVietnamPro';
    font-size: 35px;
    text-align: center;
    color: #005592;
}

.flashcard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.alternativabotao {
    display: flex;
    border-radius: 20px;
    width: 75%;
    padding: 5px;
    border-width: 0;
    background-color: transparent;
    border: 3px solid #005592;
    font-family: 'CarterOne-Regular';
    margin: 10px;
    font-size: 32px;
    color: #005592;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .5s ease;
}

.alternativa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alternativatexto {
    font-size: 44px;
    color: white;
}

.alternativabotao:hover {
    background-color: #005592;
    color: white;
    transform: scale(1.1);
}

.alternativabotao.selected {
    background-color: #005592;
    color: white;
}

.card-front, 
.card-back {
    display: flex;
    flex-direction: column;
    background-color: #5DF8E1;
    border: 2px solid #007060;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    backface-visibility: hidden;
    align-items: center;
}

.card {
    width: 515px;
    height: 600px;
    position: relative;
    perspective: 1000px;
    transition: transform .5s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(-180deg);
}

.card-front {
    position: absolute;
    z-index: 2;
    justify-content: center;
}

.card-back {
    position: absolute;
    z-index: 1;
    transform: rotateY(180deg);
    justify-content: flex-start;
}

.conferir-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}

.pontuacao {
    display: flex;
    justify-content: center;
    width: 100%;
}

.alinhar {
    width: 80%;
    display: flex;
    justify-content: end;
}

.conferir {
    display: flex;
    border-radius: 20px;
    width: 30%;
    padding: 5px;
    border-width: 0;
    background-color: transparent;
    border: 3px solid #005592;
    font-family: 'CarterOne-Regular';
    margin: 10px;
    font-size: 32px;
    color: #005592;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .5s ease;
}

.conferir:hover {
    background-color: #005592;
    color: white;
    transform: scale(1.05);
}

.conferir a { 
    text-decoration: none;
    color: white;
}

.alternativabotao.correct {
    background-color: #00b92b;
    border-color: #00b92b;
    color: white;
}

.alternativabotao.incorrect {
    background-color: #ce0919;
    border-color: #ce0919;
    color: white;
}

.explicacao {
    font-size: 18px;
    color: #004F88;
    margin: 20px;
    text-align: center;
    font-family: 'Inter';
}

.regras {
    align-items: center;
    background-color: #CCFFF7;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    margin: 50px;
}

.regras h3{
    font-family: 'CarterOne-Regular';
    font-size: 24px;
    text-align: center;
    color: #005592;
}

.jogar {
    border-width: 3px;
    padding: 20px;
    font-size: 36px;
    width: 25%;
}

.jogar span:hover {
    color: white;
}

.resposta {
    font-family: 'BeVietnamPro';
    font-size: 48px;
    text-align: center;
    color: #005592;
    margin-top: 100px;
}

.botao-perdeu {
    width: 25%;
    background-color: transparent;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: 'CarterOne-regular';
    transition: transform 2s ease;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    padding: 20px;
    font-size: 36px;
}

.botao-perdeu:hover {
    background-color: #005592;
    color: white;
    border-color: #005592;
}

.seta {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.seta svg{
    height: 50px;
    padding-left: 20px;
    transition: transform 0.5s ease;
    top: 0;
}

.seta svg:hover{
    transform: scale(1.2);
}

.idioma {
    width: 100%;
    background-color: transparent;

}

.idioma a{
    width: fit-content;
    background-color: transparent;
    border: 1px solid #005592;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: 'CarterOne-regular';
    font-size: 24px;
    transition: transform 2s ease;
    padding: 12px;
    color: #005592;
    text-decoration: none;
    transition: 0.5s;
}

.idioma a:hover {
    background-color: #005592;
    color: white;
}

@media (max-width: 940px) {
    .container-row,
    .botoes {
        flex-direction: column;
    }

    .titulo {
        font-size: 40px;
    }
    
    .titulo-grande {
        font-size: 70px;
    }
}

@media (max-width: 650px) {
    .titulo {
        font-size: 30px;
    }
    
    .titulo-grande {
        font-size: 50px;
    }

    .idioma a,
    .texto{
        font-size: 18px;
    }
    .botao {
        flex-direction: column;
        font-size: 20px;
        width: 50%;
    }
    .linha {
        flex-direction: column;
    }
    .imagem4 {
        width: 100%;
    }
    .regras {
        width: 80%;
    }

    .card {
        width: 315px;
        height: 400px;
        margin-bottom: 30px;
    }
    .pontos {
        margin-top: 20px;
        font-size: 25px;
    }
    .flashcard-card,
    .botaotudo{
        width: 100%;
    }
    .enunciado{
        font-size: 20px;
    }
    .direita{
        width: 100%;
        padding: 10px;
    }
    .alternativabotao,
    .conferir{
        font-size: 20px
    }
    .resposta {
        font-size: 23px;
    }
    .explicacao {
        font-size: 16px;
    }
}

