*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Inter";
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
}

.font18 {
    font-size: 18px;
}

.font44 {
 font-size: 44px;
}

/*Header*/

header {
    width: 100%;
    height: 1100px;
}

.header-content {
    display: flex;
    align-items: start;
    margin-bottom: 60px;
}

.bg-home {
    position: relative;
    background-image: url(img/home.png);
    background-color: #583115;
    background-size: cover;
    padding: 40px;
}

i {
    color: #ECDCAB;
}

.header-icons {
    display: flex;
    gap: 14px;
}

.header-icons a:hover i {
    color: #9E6200;
}

.reserve {
    border: 1px solid #ECDCAB;
    color: #ECDCAB;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.5s;
    justify-self: end;
}

.reserve:hover {
    border: 1px solid #9E6200;
    background-color: #9E6200;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    align-self: center;
}

.slogan {
    color: #ECDCAB;
    min-height: 80v;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.slogan h1 {
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 48px;
    text-shadow: 2px 4px 12px rgb(32, 32, 32);
}

.slogan p {
    text-align: center;
    margin: 14px 0;
    text-shadow: 2px 4px 12px black;
    font-size: 18px;
}

.cardapio {
    border: 1px solid #ECDCAB;
    color: #ECDCAB;
    text-decoration: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 24px;
    text-align: center;
    align-content: center;
    font-weight: 600;
    margin: 14px 0;
    border-radius: 8px;
    width: 292px;
    height: 66px;
    transition: background-color 0.5s;
}

.cardapio:hover {
    background-color: #9E6200;
    border: none;
}

/*Sobre*/

.sobre {
    background-color: #583115;
    overflow: hidden;
    color: #ECDCAB;
    text-shadow: 2px 4px 12px black;
    width: 100%;
}

.sobre-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
    text-shadow: 2px 4px 12px black;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    gap: 100px;
}

.sobre-imagem {
    display: flex;
    justify-content: center;
    width: 35%;
}

.sobre-description {
    width: 65%;
    padding: 50px;
}

.sobre-description h2 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sobre-description p {
    margin-bottom: 20px;
    line-height: 150%;
}

/*Titulo e descrição*/

.services {
    background-color: #ECDCAB;
    color: #583115;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}
.services-content {
   margin-bottom: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-justify: center;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 24px;
}
.services-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    width: 75%;
    font-size: 18px;
    color: #323232;
    justify-self: center;
}

/*Cardápio*/

.produtos {
    display: flex;
    width: 75%;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 0 44px 34px 44px;
}

.comida {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ECDCAB;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    margin-top: 25px;
}

.comida img {
    width: 100%;
    text-align: center;
    transition: transform .2s;
}

.comida img:hover {
    transform: scale(1.2);
    z-index: 1;
    transition: transform .2s;
}

.comida-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: #ECDCAB;
    z-index: 99;
}

.comida-info button {
    color: #ECDCAB;
    background-color: #BF932A;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
}

/*Feedback*/

.feedbacks {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 44px 34px 44px;
    background-color: #ECDCAB;
    overflow: hidden;
}
.cliente {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #ECDCAB;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;
}
.cliente img {
    width: 100%;
    text-align: center;
    transition: transform .2s;
}
.cliente img:hover {
    transform: scale(1.2);
    z-index: 1;
    transition: transform .2s;
}
.cliente-info {
    width: 100%;
    line-height: 150%;
    display: flex;
    justify-content: center;
    padding: 14px;
    background-color: #ECDCAB;
    z-index: 99;
    flex-direction: column;
    text-align: center;
}

.cliente-info button {
    color: #ECDCAB;
    background-color: #9E6200;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
}

/*Rodapé*/

.footer {
    background-color: #583115;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: #ECDCAB;
  }

  .footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  .footer-icons {
    display: flex;
    gap: 8px;
    color: #ECDCAB;
    margin-bottom: 20px;
  }

  .footer-icons a:hover i {
    color: #9E6200;
}

/*Whatsapp*/
 
  .btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
  }
  .btn-whatsapp img {
    max-width: 74px;
    transition: transform 0.4s;
  }
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
 
  .btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: #583115;
    color: #ECDCAB;
    opacity: 0;
    transition: opacity 0.4s;
  }
 
  .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }